---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <p>Width: 50vw</p>
  <div class="group">
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
  </div>
</DefaultLayout>

<style lang="scss">
  .group {
    position: relative;
    width: 100%;
    height: 300px;

    & > div:nth-child(1) {
      background: red;
    }
    & > div:nth-child(2) {
      background: blue;
    }
    & > div:nth-child(3) {
      background: green;
    }

    .block {
      position: absolute;
      width: 50vw;
      height: 100%;
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  const items = document.querySelectorAll(".group1 > .block");

  let itemWidth = items[0].clientWidth;
  let fullWidth = items.length * itemWidth;

  const resize = () => {
    itemWidth = items[0].clientWidth;
    fullWidth = items.length * itemWidth;
  };

  window.addEventListener("resize", resize);

  const dispose = (scroll: number) => {
    gsap.set(items, {
      x: (i) => itemWidth * i + scroll,
      modifiers: {
        x: (x) => {
          const s = (parseFloat(x) % fullWidth) - itemWidth;
          console.log();
          return `${s}px`;
        },
      },
    });
  };

  let count = 0;
  const render = () => {
    requestAnimationFrame(render);

    dispose(count);
    count += 3;
  };

  render();
</script>
