---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <div class="group">
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
  </div>
</DefaultLayout>

<style lang="scss">
  .group {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .block {
    position: absolute;
    width: 600px;
    height: 100%;

    &:nth-child(1) {
      background: red;
    }
    &:nth-child(2) {
      background: blue;
    }
    &:nth-child(3) {
      background: green;
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  const items = document.querySelectorAll(".block");

  const itemWidth = items[0].clientWidth;
  const fullWidth = items.length * itemWidth;

  const dispose = (scroll: number) => {
    gsap.set(items, {
      x: i => itemWidth * i + scroll,
      modifiers: {
        x: x => {
          const s = (parseFloat(x) % fullWidth) - itemWidth;
          console.log();
          return `${s}px`;
        },
      },
    });
  };

  let count = 0;
  const render = () => {
    requestAnimationFrame(render);

    dispose(count);
    count += 3;
  };

  render();
</script>
