---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <ul>
    <li><a href="/pr1">Practice 1</a></li>
    <li><a href="/pr2">Practice 2</a></li>
    <li><a href="/pr3">Practice 3</a></li>
  </ul>
</DefaultLayout>

<style></style>
