---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <ul>
    <li><a href="/pr1">Practice 1</a></li>
    <li><a href="/pr2">Practice 2</a></li>
    <li><a href="/pr3">Practice 3</a></li>
    <li><a href="/pr4">Practice 4: Slider with infinite loop</a></li>
    <li><a href="/pr5">Practice 5: coalowl.com KV animation</a></li>
    <li><a href="/pr6">Practice 6: Global menu with moving underline</a></li>
    <li><a href="/pr7">Practice 7</a></li>
    <li><a href="/pr8">Practice 8</a></li>
    <li><a href="/pr9">Practice 9</a></li>
    <li><a href="/pr10">Practice 10</a></li>
    <li><a href="/pr11">Practice 11: Sticky cursor hover animation</a></li>
    <li><a href="/pr12">Practice 12</a></li>
    <li><a href="/pr13">Practice 13</a></li>
  </ul>
</DefaultLayout>

<style lang="scss">
  p {
    padding: 0 20px;
  }

  ul {
    padding: 0 20px;

    li {
      list-style: none;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background: gray;
    margin: 12px 0;
  }
</style>
